.tabs {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  height: 30px;
  background: #edeef2;
  box-shadow: inset 0 -4px 8px rgba(53, 52, 69, 0.05);
  -webkit-app-region: drag;

  * {
    -webkit-app-region: no-drag;
  }

  .tab {
    flex: 0 1 auto;
    margin-right: 4px;

    &:last-child {
      margin-right: 0;
    }
  }

  .newTab {
    align-self: center;
    margin-left: 10px;
    color: #9a99a5;
  }
}

.buttonBar {
  align-self: stretch;
  padding: 0 0.5rem;
  display: flex;
  justify-content: center;

  button {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 1rem;
    border: none;
    padding: 0;
    background-color: transparent;
    margin: 0.5rem;
    color: $primary-text-color;

    &:focus,
    &:hover {
      color: lighten($primary-text-color, 20%);
    }

    &:active {
      color: darken($primary-text-color, 20%);
    }
  }
}
